.wrapper {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.menuItem {
    font-size: 1.4rem;
    padding: 12px 20px;
    display: block;
    cursor: pointer;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.icon {
    margin-right: 12px;
    font-size: 1.6rem;
    color: #404040;
}

.seperate {
    border-bottom: 1px solid rgba(22, 24, 35, 0.1);
}
