.wrapper {
    max-width: 692px;
    border-bottom: 1px solid rgba(22, 24, 35, 0.12);

    h2 {
        font-size: 3rem;
        line-height: 38px;
        color: rgb(22, 24, 35);
        margin-top: 50px;
        margin-bottom: 20px;
    }
}
